extends layout

block content
  h1 Hello, World
  p Welcome to my RESTful API. The only available resource can be accessed via GET /api/v1/inbox/{inboxId} where inboxId is a 6 digit, zero padded number.
